# Google AI Studio
#export GOOGLE_API_KEY=ai
export GOOGLE_GENAI_USE_VERTEXAI=TRUE
export DB_PASS=p
export DB_USER=u
export PROJECT_ID=genai-apps
export PROJECT_NUMBER=803095
export REGION=us-central1
export VERTEX_AI_ENDPOINT_ID=2527
export AGENT_MODE="Gemini"
export AGENT_AGENT_ID="projects/8030956/locations/us-central1/reasoningEngines/344960742240" 
export ICON_URI="https://www.gstatic.com/images/branding/product/1x/googleg_48dp.png"
# Vertex AI (uncomment to use)
#GOOGLE_GENAI_USE_VERTEXAI=TRUE
#GOOGLE_CLOUD_PROJECT=<your-project-id>
#GOOGLE_CLOUD_LOCATION=<your-location>

export DISPLAY_NAME="Software Bug Assistant Gemini Flash"
export DESCRIPTION="The Bug Assistant is a sample agent hosted on django designed to help IT Support and Software Developers triage, manage, and resolve software issues."
export TOOL_DESCRIPTION="An agent to help users with bug tickets, including searching, creating, and updating them."
export AGENT_NAME="adk-a2a-agent-bug-assist"
export AGENT_SERVICE_URL="https://adk-a2a-agent-bug-assist-8030912.us-central1.run.app"
